@model AmiFlota.Models.CarModel

@{
    var photoPath = "/images/cars/" + (Model.PhotoPath ?? "noimage") + ".jpg";
}

<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img src="@photoPath" class="img-fluid rounded-start">
        </div>

        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Brand @Model.Model @Model.RegistrationNumber </h5>
                <p class="card-text">
                    <div class="row">
                        <div class="col-6">
                            <div class="justify-content-center">
                                Number of seats: @Model.SeatsNumber
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="justify-content-center">
                                Trunk type: @Model.Trunk
                            </div>
                        </div>
                    </div>
                </p>

            </div>
        </div>
    </div>
</div>