@model AmiFlota.Models.CarModel
@{
    var photoPath = "/images/cars/" + (Model.PhotoPath ?? "default.jpg") ;//+ ".jpg"
}
<div class="col">
    <div class="card h-100">
        <img src="@photoPath" class="card-img-top img-fluid img-heigt-width" alt="Unable to load car photo">
        <div class="card-body">
            <h4 class="card-title text-center text-uppercase">@Model.Brand @Model.Model</h4>
            <h5 class="card-title text-center text-uppercase">@Model.RegistrationNumber</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-footer">

            @*WITHOUT Ajax*@
            @*<a class="btn btn-primary" asp-action="Details" asp-route-id="@Model.VIN">Show details</a>*@

            <button type="button" name="btnDetails"
                   class="btn btn-outline-secondary btn-details"
                   id="@Model.VIN"
                   data-vin = "@Model.VIN"> 
                   Details </button> @*onclick="onClickDetails(this)"*@
        </div>
    </div>
</div>

@*<script>

//TODO Redirect to another view
    function onClickDetails(btn) {
    var VIN = btn.id;
    var DataAttribute = btn.getAttribute('data-vin');

        console.log("ID: " + VIN);
        console.log("Data-attribute: " + DataAttribute);
}
</script>*@


