@using AmiFlota.Enums
@model AmiFlota.Models.CarModel
@{
    var photoPath = "/images/cars/" + (Model.PhotoPath ?? "default.jpg");//+ ".jpg"
}
<div class="col">
    <div class="card h-100">
        <img src="@photoPath" class="card-img-top img-fluid" alt="Unable to load car photo">
        <div class="card-body">
            <h4 class="card-title text-center text-uppercase text-dark">@Model.Brand @Model.Model</h4>
            <h5 class="card-title text-center text-uppercase text-dark">@Model.RegistrationNumber</h5>
        </div>
        <div class="card-footer clearfix text-end">


            <button type="button" name="btnDetails"
                    class="btn btn-light btn-details"
                    id="@Model.VIN"
                    data-vin="@Model.VIN">
                Details
            </button> 

            @if (User.IsInRole(UserRole.Admin.ToString())){
                <a type="button" name="btnEdit" asp-action="Edit" asp-controller="Car" asp-route-vin="@Model.VIN" class="btn btn-light btn-edit">Edit</a>
                }

            </div>

        </div>
    </div>





