@model AmiFlota.Models.ViewModels.CarDetailsVM


<div class="modal fade" id="carDetailsModal" tabindex="-1" role="dialog" aria-labelledby="carDetailsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h4>Car Details Modal</h4>

            <h2>@Model.Car.RegistrationNumber</h2>
            @foreach (var historyTrip in @Model.TripsHistory)
            {
                <h2>New Booking</h2>
                <h2>@historyTrip.User</h2>
                @foreach (var trip in historyTrip.Data)
                {
                    <h2>@trip.StartKm</h2>
                }
            }

            @*<form method="post" asp-controller="Trip" asp-action="StartTrip" id="tripStartModalForm">
            <div class="modal-header">
            <h5 class="modal-title" id="tripStartModalTitle">Trip start</h5>
            </div>


            <div class="modal-body">
            <div class="form-group row">
            <div class="col-6 text-right">
            <label for="BookingId">BookingId: </label>
            </div>

            <div class="col-6 text-left">
            <label asp-for="BookingId">@Model.BookingId</label>
            <input asp-for="BookingId" type="hidden"></>
            </div>
            </div>

            <div class="form-group">
            <label asp-for="StartKm">Start mileage: @Model.StartKm</label>
            <input asp-for="StartKm" class="form-control" id="startKm"></>
            </div>

            <div class="form-group">
            <input asp-for="EndKm" type="hidden"></>
            </div>

            <div class="form-group">
            <input asp-for="Cost" type="hidden"></>
            </div>

            <div class="form-group">
            <input asp-for="CostRemarks" type="hidden" class="form-control" id="costRemarks"></>
            </div>
            <div class="form-group">
            <input asp-for="BookingStatus" type="hidden" value="@AmiFlota.Utilities.Enums.BookingStatus.Active" class="form-control"></>
            </div>
            </div>

            <div class="modal-footer">
            <div class="row align-items-center">
            <button type="submit" id="btnStartTrip" class="btn btn-success btn-start-trip">Start trip</button>
            </div>
            </div>
            </form>*@

        </div>
    </div>
</div>