@model IEnumerable<AmiFlota.Models.BookingModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bookings list</title>
</head>
<body>
    <div class="row row-cols-1 row-cols-md-1">
        @foreach (var booking in Model)
        {
            <div class="row mt-4 border border-dark border-opacity-25">

                <div class="col-10">
                    <partial name="_BookingListItem" model=booking />
                </div>


                <div class="col-2">
                    @*  //TODO Usunąć
                <a asp-controller="Booking" asp-action="BookingDetails"
                asp-route-VIN="@car.VIN"
                asp-route-startDate="@Model.StartDate"
                asp-route-endDate="@Model.EndDate"
                class="btn btn-primary mx-1" type="button">Book</a>
                <- Bez wykorzystania API
                *@

                    @if (User.IsInRole(AmiFlota.Utilities.Enums.UserRole.admin.ToString()))
                    {
                        if (booking.isApproved)
                        {
                            <button type="button" id="btnDashboardReject" class="btn btn-warning btn-reject" data-id="@booking.Id">Reject</button>
                        }
                        else
                        {
                            <button type="button" id="btnDashboardConfirm" class="btn btn-success btn-confirm" data-id="@booking.Id">Confirm</button>
                        }

                        <button type="button" id="btnDashboardDelete" class="btn btn-danger btn-delete" data-id="@booking.Id">Delete</button>
                    }
                </div>
            </div>

        }
    </div>
</body>
</html>

<script>
    $(document).ready(function() {
        var routeURL = location.protocol + "//" + location.host;

        //TODO Two notifications, one for ok, second for error

        $(".btn-confirm").click(function() {
            var eventId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/ConfirmEvent',
                type: 'GET',
                data: { id: eventId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });

        $(".btn-reject").click(function() {
            var eventId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/RejectEvent',
                type: 'GET',
                data: { id: eventId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }

                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });

        $(".btn-delete").click(function() {
            var eventId = $(this).data("id");

            $.ajax({
                url: routeURL + '/api/Booking/DeleteEvent',
                type: 'GET',
                data: { id: eventId },
                dataType: 'JSON',
                success: function(response) {
                    if (response.status === 1) {
                        $.notify(response.message, "success");
                    }
                    else {
                        $.notify(response.message, "error");
                    }
                },
                error: function(xhr) {
                    $.notify("Error", "error");
                }
            });
        });
    });
</script>
