@model AmiFlota.Models.ViewModels.AvailableCarsVM
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of the available cars</title>
</head>
<body>
    <div class="row">
        @foreach (var car in Model.AvailableCars)
        {
            <div class="row border border-dark border-opacity-25 m-2">
                <div class="col-10">
                    <partial name="_CarListItem" model=car />
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-success btn-continue" id="@car.VIN"
                        data-startDate="@Model.StartDate"
                        data-endDate="@Model.EndDate"
                        data-vin="@car.VIN">
                        Continue
                    </button>
                </div>
            </div>
        }
    </div>
</body>
</html>


<script>
    $(document).ready(function() {
        var routeURL = location.protocol + "//" + location.host;


        $(".btn-continue").click(function() {
            var VIN = $(this).data("vin");
            var StartDate = $(this).data("startdate");
            var EndDate = $(this).data("enddate");
            
            $.ajax({
                url: '@Url.Action("_BookingDetailsModal", "Booking")',
                datatype: 'html',
                data: { vin: VIN, startDate: StartDate, endDate: EndDate },
                method: 'GET',

                success: function(result) {
                    $('#_BookingDetailsModal').html('').html(result);
                    onShowBookingDetailsModal();
                },

                error: function(error) {
                    console.log(error);
                }
            });
        });
    });

    function onShowBookingDetailsModal() {

        //TODO Show detailed information about booking
        var test = "To Do";
        $("#userName").val(test);
        $("#registrationNumber").val(test);

        $("#bookingDetailsModal").modal("show");
    }
</script>



