@model List<AmiFlota.Models.CarModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>

    @*    //TODO Usunąć
    <div class="form-group col-4" id="carListDropDown">
    <label>Select Car</label>
    @Html.DropDownList("carVIN",
    new SelectList(ViewBag.CarList, "VIN", "RegistrationNumber"),
    new {@class="form-control select2}", @onchange = "onCarChange()" })
    </div>*@


    <div class="container">
        <div class="row">
            <div class="col-2">
                @foreach (var car in Model)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@car.VIN" id="@car.VIN" checked="checked" />
                        <label class="form-check-label" for="@car.VIN">@car.Brand @car.Model @car.RegistrationNumber</label>
                    </div>
                }
                
            </div>
            <div class="col-10">
                <div id="calendar"> </div>
            </div>
        </div>
    </div>

    <partial name="_CalendarEvent" />

</body>

</html>

<script>
    var routeURL = location.protocol + "//" + location.host;

    $(document).ready(function() {

    })
</script>
