@model List<AmiFlota.Models.CarModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calendar</title>
</head>
<body>

    @*    //TODO Usunąć
    <div class="form-group col-4" id="carListDropDown">
    <label>Select Car</label>
    @Html.DropDownList("carVIN",
    new SelectList(ViewBag.CarList, "VIN", "RegistrationNumber"),
    new {@class="form-control select2}", @onchange = "onCarChange()" })
    </div>*@


    <div class="container">
        <div class="row">
            <div class="col-2">
                @foreach (var car in Model)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@car.VIN" id="@car.VIN" checked="checked" />
                        <label class="form-check-label" for="@car.VIN">@car.Brand @car.Model @car.RegistrationNumber</label>
                    </div>
                }
                <div>
                    <button type="button" class="btn btn-success btn-refresh" id="btnRefresh">Refresh</button>
                </div>
            </div>
            <div class="col-10">
                <div id="calendar"> </div>
            </div>
        </div>
    </div>

    <partial name="_CalendarEvent" />

</body>

</html>

<script>
    var routeURL = location.protocol + "//" + location.host;

    $(document).ready(function() {
        var checkedvalues;
        var dtoVIN;
        var postdata;

        $('input[type="checkbox"]').change(function() {
            checkedvalues = $('input:checkbox:checked').map(function() {
                return this.value;
            }).get();

            console.log(checkedvalues.toString());
        });

        $(".btn-refresh").click(function() {
            dtoVIN = {
                Selected: checkedvalues //???
            };

            postdata = JSON.stringify(dtoVIN);
            console.log(postdata);

            $.ajax({
                url: routeURL + '/api/Booking/GetCalendarDataForCarList',
                contentType: 'application/json',
                datatype: JSON,
                data: postdata,
                method: 'POST',

                success: function(response) {
                    if (response.status === 1) {
                        calendar.refetchEvents();
                    }
                    else {
                        //
                    }
                },
                error: function(xhr, status, error) {
                    alert(status);
                    alert(xhr.responseText);
                }
            })
        })

    })
</script>
